<%- include("../partials/header") -%>
    <link rel="stylesheet" href="/css/buttons.css">
    <div class="container-fluid sgtContent">

        

    </div>
    <script src="/js/boozeNew.js"></script>
<%- include("../partials/footer") -%>