
<link rel="stylesheet" href="css/agecheck.css">

<!-- Modal staticBackdrop -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Please confirm your are at least 18 years of age</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            A perfectly clear and obvious text should be placed here. Inputs, buttons and other options to determine if a predefined value meets the requirements are also possible.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-auto">
                            <select name="day" id="ageDay">
                            <!-- Content for dropdown is script generared. -->
                            </select>
                        </div>
                        <div class="col-auto">
                            <select name="month" id="ageMonth">
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        <!-- <div class="col-auto"> Dutch
                            <select name="month" id="ageMonth">
                                <option value="01">januari</option>
                                <option value="02">februari</option>
                                <option value="03">maart</option>
                                <option value="04">april</option>
                                <option value="05">mei</option>
                                <option value="06">juni</option>
                                <option value="07">juli</option>
                                <option value="08">augustus</option>
                                <option value="09">september</option>
                                <option value="10">oktober</option>
                                <option value="11">november</option>
                                <option value="12">december</option>
                            </select> -->
                        </div>
                        <div class="col-auto">
                            <select name="year" id="ageYear">
                            <!-- Content for dropdown is script generared. -->
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="buttonContinue" type="button" class="btn btn-success btn-sm">Leave</button>
                <button id="buttonAgeCheck" type="button" class="btn btn-dark btn-sm">Verify age</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/agecheck.js"></script>
