<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar navbar-expand-lg sgtMenu">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/images/vp_leaf_stroke_white.png" alt="vp_leaf"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle <%= typeof page !== 'undefined' && page.slice(0,5) === 'booze' ? 'active' : '' %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Booze shit
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item <%= typeof page !== 'undefined' && page === 'booze' ? 'active' : '' %>" href="/booze">Booze index</a></li>
                        <li><a class="dropdown-item <%= typeof page !== 'undefined' && page === 'boozeNew' ? 'active' : '' %>" href="/booze/new">Add some booze</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item disabled" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Onderhoud</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" disabled>
                <button class="btn btn-outline-success disabled" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>