.but-sarge-default {
    color: var(--menu-for);
    background-color: var(--menu-back);
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
}

.but-sarge-default:hover {
    color: var(--menu-high-for);
    background-color: var(--menu-high-back);
}