<%- include("../partials/header") -%>
	<link rel="stylesheet" href="/css/buttons.css">
	<link rel="stylesheet" href="/css/forms.css">
	<link rel="stylesheet" href="/css/user.css">

	<div class="center">
		<div class="col-12">
			<h2 style="color: #ffffff;">Wachtwoord wijzigen</h2>
			<div class="borderimg">
				<form action="/user/reset/<%= token %>" method="POST">
					<div class="row">
						<div class="col-1"></div>
						<div class="col-3"><label for="password">Nieuw wachtwoord</label></div>
						<div class="col-8"><input type="password" name="password" placeholder="Nieuw wachtwoord" autofocus="autofocus" class="form-control"/></div>
					</div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col-3"><label for="confirm">Bevestig wachtwoord</label></div>
						<div class="col-8"><input type="password" name="confirm" placeholder="Bevestig wachtwoord" class="form-control"/></div>
					</div>
					<div class="row">
						<div class="col-12" style="display: flex;  justify-content: end;">
							<button type="submit" class="but but-main">Wijzig wachtwoord</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

<%- include("../partials/footer") -%>